test.env=sandbox
test.server.url={{ site_url }}
test.domain={{ domain }}
test.app-name={{ app_name }}
test.api-token={{ api_token }}
test.platform-id={{ platform_id }}
test.profile-id={{ user_profile_id }}
test.profile-email={{ user_profile_email }}
test.admin-username = {{ admin_username }}
test.admin-password = {{ admin_password }}
test.kafka.server = kafka_server:port
